grant codeBase "file:${org.freeplane.basedirectory}/*" {
        permission java.security.AllPermission;
};

grant codeBase "file:${org.freeplane.basedirectory}/../freeplane_framework/bin/*" {
        permission java.security.AllPermission;
};

grant codeBase "file:${framework.home}/-" {
        permission java.security.AllPermission;
};

grant codeBase "file:${user.home}/.p2/-" {
        permission java.security.AllPermission;
};

grant {
		permission java.io.FilePermission "${org.freeplane.basedirectory}/-", "read";
        permission java.lang.RuntimePermission "getClassLoader";
};