* text=auto
*.properties eol=lf
freeplane_framework/mac-jarbundler/universalJavaApplicationStub eol=lf
*.sh eol=lf
*.bat eol=crlf

*.png  -text
*.gif  -text
*.jpeg -text
*.jpg  -text
*.JPG  -text
*.ico  -text
*.bmp  -text
*.icns -text

*.ortho -text
*.swf   -text
*.ttf -text

*.jar -text

*.exe -text
*.dll -text


