span.foldopened, span.foldclosed  {
    font-size: xx-small;
    border-width: 1;
    font-family: monospace;
    padding: 0em 0.25em 0em 0.25em;
    background: #e0e0e0;
    cursor:pointer;
}
span.foldopened  {
    color: white;
    VISIBILITY: visible;
}
span.foldclosed {
    color: #666666;
    VISIBILITY: hidden;
}
span.foldspecial {
    color: #666666;
    font-size: xx-small;
    border-style: none solid solid none;
    border-color: #CCCCCC;
    border-width: 1;
    font-family: sans-serif;
    padding: 0em 0.1em 0em 0.1em;
    background: #e0e0e0;
    cursor:pointer;
}
