li { list-style: none;  margin: 0; }
p { margin: 0; }

span.l { color: red; font-weight: bold; }

a.mapnode:link,
a.mapnode:visited,
a.mapnode:active,
a.mapnode:hover {
    text-decoration: none; color: black;
}
a.mapnode:hover { background: #eeeee0; }
